@charset "utf-8";

/*  z-index 정의, 레이아웃 = 20, 컨텐츠 = 10이하, 팝업 = 50, 로딩창 = 100 */
/* reset */
*{box-sizing:border-box}
*:before, *:after{box-sizing:border-box;word-break:keep-all;word-wrap:break-word}
html{height:100%}
body, h1, h2, h3, h4, h5, h6, fieldset, ul, ol, dl, dt, dd, p, button, figure, xmp{margin:0;padding:0;box-sizing:border-box;}
body{font:400 14px/1.2 'bitter', 'sans-serif';height:100%;color:#707070;word-break:keep-all;box-sizing:border-box}
legend, caption{overflow:hidden;width:1px;height:1px;color:transparent}
a{text-decoration:none;color:inherit}
a[href^="tel"]{cursor:default}
fieldset, button{background:none;border:0}
li{list-style:none}
table{width:100%;border-spacing:0;border-collapse:collapse}
caption{font-size:0;line-height:0}
iframe{width:100%;vertical-align:middle;border:0 none}
button, input, optgroup, select, textarea{font:inherit}
button{cursor:pointer;outline:0}
h1, h2, h3, h4, h5, h6{font-weight:700}
input, select, textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-border-radius:0;border-radius:0;outline:0}
b, strong{font-weight:700}
em{font-style:inherit}
img{width:100%;vertical-align:top}

@font-face {
    font-family: 'NanumBarunGothic';
    /* src: local(없을경우 당구장표시); */
    src:url(../font/NanumBarunGothicUltraLightSubset.eot) format('embeded-opentype'),
        url(../font/NanumBarunGothicUltraLightSubset.woff) format('woff'),
        url(../font/NanumBarunGothicUltraLightSubset.woff2) format('woff2'),
        url(../font/MaruBuri-SemiBold.ttf) format('truetype');
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    /* src: local(없을경우 당구장표시); */
    src:url(../font/NanumBarunGothicSubset.eot) format('embeded-opentype'),
        url(../font/NanumBarunGothicSubset.woff) format('woff'),
        url(../font/NanumBarunGothicSubset.woff2) format('woff2'),
        url(../font/MaruBuri-Regular.ttf) format('truetype');
    font-weight:700;/* 굵기 마다 지정 */
    font-style:normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    /* src: local(없을경우 당구장표시); */
    src:url(../font/NanumBarunGothicBoldSubset.eot) format('embeded-opentype'),
        url(../font/NanumBarunGothicBoldSubset.woff) format('woff'),
        url(../font/NanumBarunGothicBoldSubset.woff2) format('woff2'),
        url(../font/MaruBuri-Bold.ttf) format('truetype');
    font-weight:900;
    font-style:normal;
}

@font-face {
    font-family: 'bitter';
    /* src: local(없을경우 당구장표시); */
    src:url(../font/Bitter-Light.ttf) format('truetype');
    font-weight:300;
    font-style:normal;
}

@font-face {
    font-family: 'bitter';
    /* src: local(없을경우 당구장표시); */
    src:url(../font/Bitter-Regular.ttf) format('truetype');
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: 'bitter';
    /* src: local(없을경우 당구장표시); */
    src:url(../font/Bitter-Medium.ttf) format('truetype');
    font-weight:500;
    font-style:normal;
}

@font-face {
    font-family: 'bitter';
    /* src: local(없을경우 당구장표시); */
    src:url(../font/Bitter-Bold.ttf) format('truetype');
    font-weight:700;
    font-style:normal;
}

/* *************************************************** */

/*skipNavi*/
#skipNavi {position:relative;display:none}
#skipNavi a{display:block;position:absolute;left:0;top:-300px;width:300px;text-align:center;color:#fff;background:#111;z-index:200;}
#skipNavi a:focus, #skipNavi a:hover{top:0px;}

/* header */
header{display:flex;justify-content:space-between;align-items:center;height:60px;padding:10px 16px;box-sizing:border-box}
header .title{font-size:24px;color:#426e52}
.contact_area{display:flex;justify-content:flex-end;align-items:center;position:fixed;top:0;left:0;right:0;z-index:100;height:60px;padding-right:16px;}
.contact_area .contact_area_tit{padding:5px 15px;background:#426e52;font-size:18px;font-weight:700;border-radius:18px;color:#fff;}
.contact_area .contact_area_tool{display:none;position:absolute;top:12px;right:16px;padding:20px 16px;background:#426e52;border-radius:9px;color:#fff;transition:all .1s }
.contact_area .contact_area_tool li{position:relative}
.contact_area .contact_area_tool li:after{display:block;content:'';width:100%;height:1px;margin-top:5px;background:#fff}
.contact_area .contact_area_tool li + li{margin-top:10px}
.contact_area .contact_area_tool li strong{display:inline-block;margin-right:10px}
.contact_area .btn_copy{display:inline-block;margin-left:10px;padding:2px 8px;background:#fff;font-size:12px;font-weight:900;border-radius:10px;color:#426e52}

/* contents */
#wrap{overflow:hidden;position:relative;min-height:100vh;background:rgba(238, 237, 232);box-sizing:border-box}
#container{position:relative;min-height:100vh;height:100%;/*padding:60px 0 0;box-sizing:border-box*/}
#contents{position:relative;height:100%;}

/*common*/
.blind{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin-left:-1px;overflow:hidden;color:transparent;border:0 none;background:transparent;}
.m_none{display:none;}
.w_none{display:block;}

/* main */
.main{min-height:100vh;}
.main canvas{min-height:100vh;}

/* work */
.work{overflow:hidden;position:relative;max-width: 1240px;margin:0 auto;height:100%;padding-top:50px;border-top:1px solid #426e52}
.work .inner{position:relative;width:100%;margin-top:20px}
.work h2{font-size:25px;color:orange}
.btn_wrap{display:flex;flex-wrap:nowrap;justify-content:flex-end;}
.btn{margin-left:20px;padding:3px 0 3px;font-weight:700;color:#888}
.btn.on{border-bottom:2px solid #707070;color:#707070;font-weight:900}
.work_list{display:flex;flex-wrap:wrap;justify-content:space-between;overflow:hidden;padding-bottom:30px}
.work_list::after{content:'';flex:auto}
.work_list > li{width:100%;margin:20px 16px 0;/*padding:16px;background:#fff;*/}
.work_list > li:nth-child(2n-1){margin-right:0}
.work_list > li:nth-child(2n){margin-left:0;text-align:right;}
.work_list > li .img{display:block;overflow:hidden;position:relative;padding:32px 30px;background:rgba(66, 110, 82, 0.5);border-radius:60px 0 0 10px;} 
.work_list > li:nth-child(2n) .img{border-radius:0 60px 10px 0;}
.project{position:relative;margin:20px 0 25px}
.project .project_name{font-size:20px;font-weight:900;color:#426e52}
.project .project_name span{display:block;margin-bottom:6px;font-size:13px;font-weight:700;color:#707070}
.project .project_date_output li{position:relative;margin-top:5px;font-size:13px}
.btn_link{position:absolute;bottom:0;right:16px;z-index:0;}
.btn_link .btn{padding:0;text-decoration:underline;color:#426e52}
/* .btn_link:after{content:'';position:absolute;top:-5px;left:0;bottom:-3px;right:0;z-index:-1;background:#426e52}
.btn_link .btn{margin:0;padding:2px 20px;background:rgba(238, 237, 232);border:2px solid #111;border-radius:10px;color:#111;} */

/* btn_top */
.btn_top{position:fixed;bottom:30px;right:16px;width:100px;height:100px;background:#426e52;font-size:20px;border-radius:100%;color:#fff}

@media only screen and (max-width:320px){
    
}

@media only screen and (min-width:768px){
    /* .work_list::after{width:calc(50% - 32px)} */
    .work_list > li{width:calc(50% - 32px)}
    .work_list > li:nth-child(2n){text-align:left}
    .work_list > li:nth-child(2n-1)  .img, .work_list > li:nth-child(2n) .img{border-radius:60px 10px 60px 10px}
    .work_list > li:nth-child(2n-1), .work_list > li:nth-child(2n){margin:20px 16px} 
}

@media only screen and (min-width: 1025px){
    .work .inner{max-width:1240px;margin:0 auto;padding:0;}
    .work_list > li{width:calc(33.3% - 32px)}
    .work_list > li .img:hover img{filter: blur(3px);}
    .work_list > li .img:hover:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:#fff url(../images/ico_plus_hover.png) no-repeat center 50%/52px;opacity:0.5}
    

}